@helper InputElem(string id, string tooltip = "", string type = "text")
{
    if ("text" == type)
    { 
    <input type="text" class="form-control @(!string.IsNullOrEmpty(tooltip) ? "tooltips" : string.Empty) " id="txt@id" name="@id"
        @if (!string.IsNullOrEmpty(tooltip)) { 
            <text> data-container="body" data-placement="top" data-original-title="@tooltip" </text>  
        }
    >
    }
    else
    {
        <input type="text" class="form-control date-picker @(!string.IsNullOrEmpty(tooltip) ? "tooltips" : string.Empty) " id="@id"
            data-autoclose="true" data-format="dd/mm/yyyy"
            @if (!string.IsNullOrEmpty(tooltip)) { <text> data-container="body" data-placement="top" data-original-title="@tooltip" </text>  }>
    }
}

@helper InputText(string id, string label, string cssClass, string tooltip="")
{
    <div class="col-md-3 form-group form-md-line-input @cssClass">
        <label for="@id" class="control-label col-md-3">@label</label>
        <div class="col-md-9">
            @InputElem(id, tooltip, "text")
            <div class="form-control-focus"></div>
        </div>
    </div>
}

@helper InputDatePicker(string id, string label, string cssClass, string tooltip="")
{
    <div class="col-md-3 form-group form-md-line-input @cssClass">
        <label for="@id" class="control-label col-md-3">@label</label>
        <div class="col-md-9">
            @InputElem(id, tooltip, "date")
            <div class="form-control-focus"></div>
        </div>
    </div>
}