@using V6Soft.Web.Accounting.Constants;
@using V6Soft.Web.Accounting.HtmlExtensions;
@using V6Soft.Web.Common.HtmlExtensions;

@using BundleNames = V6Soft.Web.Accounting.Constants.Names.Bundles;
@using WebViews = V6Soft.Web.Accounting.Constants.Views;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @Scripts.Render(BundleNames.Scripts.Core)
    @Styles.Render(BundleNames.Styles.Core)
</head>
<body>
    <div id="body-wrapper">
        @*@Html.RenderMenu(3)*@
        @RenderPage("~/Views/Template/Menu.cshtml")
        <div id="content-wrapper">
            @Html.Partial(WebViews.Breadcrumbs)
            <section id="pjax-container">
                @RenderBody()
            </section>
        </div><!-- /#page-wrapper -->
    </div><!-- /#body-wrapper -->

    @Html.RenderModuleUrls(Url)

    @Html.Partial(WebViews.Scripts)
    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/kickstarter.js")"></script>
</body>
</html>
