<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel='stylesheet' href='@Url.Content("~/Scripts/lib/webix/webix.css")' type='text/css' charset='utf-8'>
    <script src='@Url.Content("~/Scripts/core/jquery/jquery-2.1.0.min.js")' type='text/javascript' charset='utf-8'></script>
    <script src='@Url.Content("~/Scripts/lib/webix//webix.js")' type='text/javascript' charset='utf-8'></script>
</head>
<body>
    <script type='text/javascript' charset='utf-8'>
		var mainMenu = {
			view:'form', scroll:false,
			elements:
			[
				{ view:'button', type:'next', label:'Tiền mặt' },
				{ view:'button', type:'next', label:'Phải thu' },
				{ view:'button', type:'next', label:'Phải trả' },
				{ view:'button', type:'next', label:'Chi phí, GT' },
				{ view:'button', type:'next', label:'TSCĐ' },
				{ view:'button', type:'form', label:'Công cụ' },
				{ view:'button', type:'form', label:'Hệ thống' },
				{ view:'button', type:'form', label:'Tổng hợp' }
			]
		};
		var subMenu = {
		    rows:
		    [
				{ view:'select', options:['Cập nhật số liệu', 'Cập nhật số dư', 'Các danh mục từ điển', 'Báo cáo tiền mặt', 'Báo cáo theo tài khoản'] },
				{
				    view: 'form', scroll: false,
				    id: "formView",
					elements:[
						{ view:'button', type:'form', label:'Phiếu thu tiền mặt' },
						{ view:'button', type:'form', label:'Phiếu chi tiền mặt' },
						{ view:'button', type:'form', label:'Giấy báo có (thu) của ngân hàng' },
						{ view:'button', type: 'form',label: 'Giấy báo nợ (chi) của ngân hàng'}
					]
				}
			]
		};
		var mainForm = {};
    </script>
    @RenderBody()
<script type='text/javascript' charset='utf-8'>
    webix.ui({
        width: '100%',
        type: 'wide',
        cols: [
            { width: 5 }, // Padding left
            {
                type: 'wide',
                rows: [
                    { height: 5 }, // Padding top
                    {
                        multi: true,
                        view: 'accordion',
                        type: 'wide',
                        rows:
                        [
                            {
                                view: 'accordion',
                                type: 'wide',
                                cols: [
                                    { header: ' ', body: mainMenu, width: 150, collapsed: false },
                                    { header: ' ', body: subMenu, width: 300, collapsed: true },
                                    { body: mainForm }
                                ]
                            }
                        ]
                    },
                    { height: 5 } // Padding bottom
                ]
            },
            { width: 5 } // Padding right
        ]
    });
    $$('as').bind($$('listView'));


    $$('as').bind($$('listView'));
</script>

</body>
</html>

