@model V6Soft.Models.Core.PagedList<V6Soft.Models.Accounting.District>

@using FieldIndex = V6Soft.Models.Core.Constants.DefinitionIndex.Field;

@{
    ViewBag.Title = "District List Management";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Provinces</title>
</head>
<body>


    <h2>Prov</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>UID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Status</th>
            <th>&nbsp;</th>
        </tr>
        @if (Model == null || Model.Items == null)
        {
            <tr><td colspan="4">No Province</td></tr>
        }
        else
        {
            foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.UID
                    </td>
                    <td>
                        @item.GetField(FieldIndex.Code)
                    </td>
                    <td>
                        @item.GetField(FieldIndex.Name)
                    </td>
                    <td>
                        @item.GetField(FieldIndex.Status)
                    </td>
                
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
    </table>

</body>
</html>
